
.section {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}
.section-title {
  margin-bottom: 10px;
}
.section-title h1 {
  font-weight: 900;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: capitalize;
  color: #171717;
}
.section p {
  font-size: 16px;
  color: #171717;
}
.section-bg {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -o-background-size: cover;
     background-size: cover;
}
.section .container {
  position: relative;
  z-index: 2;
}

.list-item {
  position: relative;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.list-item-thumb {
  position: relative;
  z-index: 1;
  overflow: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.list-item-thumb img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.list-item-content h4 {
  margin-top: 20px;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.list-item-content p {
  margin-bottom: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.list-item-tag {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  padding: 10px 20px;
  background: #146c43;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
.list-item:hover .list-item-thumb img, .list-item.active .list-item-thumb img {
  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
}
.list-item:hover .list-item-content h4,
.list-item:hover .list-item-content p, .list-item.active .list-item-content h4,
.list-item.active .list-item-content p {
  color: #146c43;
}
.list-qs-item {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}
.list-qs-item h2 {
  position: relative;
  padding: 20px 0;
  margin-bottom: 0;
  font-family: var(--font-family-sans-serif);
  color: #146c43;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.list-qs-item h2::before, .list-qs-item h2::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 4px;
  background: #146c43;
  border-radius: 2px;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.list-qs-item h2::before {
  -webkit-transform: translateY(-50%) rotate(90deg);
     -moz-transform: translateY(-50%) rotate(90deg);
      -ms-transform: translateY(-50%) rotate(90deg);
       -o-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
}
.list-qs-item p {
  margin: 20px;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
}
.list-qs-item-content {
  border-top: 1px solid #ddd;
  display: none;
}
.list-qs-item.active {
  border-bottom: 0;
}
.list-qs-item.active h2::before {
  -webkit-transform: translateY(-50%) rotate(0deg);
     -moz-transform: translateY(-50%) rotate(0deg);
      -ms-transform: translateY(-50%) rotate(0deg);
       -o-transform: translateY(-50%) rotate(0deg);
          transform: translateY(-50%) rotate(0deg);
}

.round-img {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  border: 20px solid rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.round-img img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.round-img:hover {
  border: 20px solid rgba(0, 0, 0, 0.2);
}
.round-img:hover img {
  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
}

.trapezoid {
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  margin-left: -20px;
}
.trapezoid span {
  font-size: 20px;
  font-weight: 500;
  display: inline-block;
  text-align: center;
  background: #ffc999;
  position: relative;
  margin-left: -20px;
  padding-right: 40px;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.trapezoid:before {
  content: "";
  display: inline-block;
  background: #ffc999;
  width: 50px;
  height: 50px;
  -webkit-transform: skew(10deg);
     -moz-transform: skew(10deg);
      -ms-transform: skew(10deg);
       -o-transform: skew(10deg);
          transform: skew(10deg);
  border-radius: 0 0 0 15px;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.trapezoid:hover span, .trapezoid.active span {
  background: #212529;
}
.trapezoid:hover:before, .trapezoid:hover:after, .trapezoid.active:before, .trapezoid.active:after {
  background: #212529;
}

.home-carousel {
  position: relative;
  z-index: 1;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 400px;
}
.home-carousel h1 {
  text-transform: uppercase;
  font-weight: bold;
  /* color: #fff; */
}
.home-carousel p {
  /* color: #fff; */
}
.home-carousel-nav {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 40px;
}

.home-img {
  width: 100%;
}
.home-img img {
  width: 100%;
  border-radius: 50%;
}


.section-banner {
  position: relative;
  padding: 0;
}
.section-banner::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-position: center center;
  -o-background-size: cover;
     background-size: cover;
  z-index: -1;
}
.section-banner .row {
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-choose {
  background-repeat: no-repeat;
  background-position: center center;
  -o-background-size: cover;
     background-size: cover;
}
.section-choose .choose-item {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section-choose .choose-item .thumb {
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 50%;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.section-choose .choose-item .thumb img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.section-choose .choose-item:hover .thumb img {
  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
}
.section-choose .choose-item:hover h5 {

  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.section-choose .choose-tag {
  margin-top: 20px;
}
.section-choose .choose-tag-item {

  color: #fff;
  padding: 20px;
  text-align: center;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.section-call {
  background-repeat: no-repeat;
  background-position: center center;
  -o-background-size: cover;
     background-size: cover;
}
.section-call .row {
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-call .row h1,
.section-call .row p {
  color: #fff;
}
.section-call .row .btn {
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  border: 2px solid #ffffff;
  border-radius: 5px;
  padding: 5px 30px;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.section-call .row .btn:hover {
  background-color: #fff;
  color: #000;
}
.section-call .row .col-md-3 {
  text-align: right;
}
.section-services .gx-5 {
  --bs-gutter-x: 0 !important;
}
.section-case .carousel {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-case .carousel .container {
  width: 40%;
}
.section-case .carousel button {
  background-color: black;
  width: 50px;
  height: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #146c43;
  background-color: #f1f1f1;
  opacity: 1;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.section-case .carousel button:hover {
  background-color: rgba(168, 203, 38, 0.4);
}
.section-case .carousel button.carousel-control-prev {
  border-radius: 0 300px 300px 0;
}
.section-case .carousel button.carousel-control-next {
  border-radius: 300px 0 0 300px;
}
.section-case .carousel button .carousel-control-prev-icon {
  background-image: url(../images/home/icon/arrow-left.svg?v=mal1imp3);
}
.section-case .carousel button .carousel-control-next-icon {
  background-image: url(../images/home/icon/arrow-right.svg?v=mal1imp3);
}
.section-case .carousel .case-img {
  overflow: hidden;
  border-radius: 99em;
  position: relative;
}
.section-case .carousel .case-img::before {
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  top: -90px;
  right: -140px;
  width: 200px;
  height: 200px;
  border-radius: 70px;
  -webkit-filter: blur(15px);
          filter: blur(15px);
}
.section-case .carousel .case-img img {
  max-width: 100%;
  width: 100%;
}
.section-case .section-title h1 {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}
.section-clients {
  background-repeat: no-repeat;
  background-position: center center;
  -o-background-size: cover;
     background-size: cover;
}
.section-clients .client-item-content {
  border: 2px solid #146c43;
  padding: 30px;
  border-radius: 80px;
  margin-bottom: 20px;
}
.section-clients .client-item-content p:last-child {
  margin-bottom: 0;
}
.section-clients .client-item h5 {
  font-weight: bold;
}
.section-clients .client-item h6 {
  color: #146c43;
}
.section-contact .contact-form {
  max-width: 680px;
}

.about .owner {
  width: 320px;
  height: 320px;
}
.about .owner img {
  width: 320px;
  height: 320px;
}

@media (max-width: 1024px) {
  .header-navbar .navbar-brand img {
    height: 40px;
  }
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
  }
  .home-carousel {
    position: relative;
    z-index: 1;
    min-height: 400px;
  }
  .home-carousel .container {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home-carousel .row {
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home-carousel .mt-5 {
    margin-top: 0 !important;
    text-align: center;
  }
  .home-carousel h1 {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }
  .home-carousel-nav {
    display: none;
  }
  .home .section-choose .choose-item {
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .home .section-call .row .col-md-3 {
    text-align: center;
  }
  .home .section-case .carousel .container {
    width: 80%;
  }
}/*# sourceMappingURL=style.css.map */


.hero {
  height: auto;
  width: 100%;
  margin: 30px;
}


.header-bg {
    background-color: #8CC641 !important
}